form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  text-align: center;
  width: 450px;
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

h2 {
  font-size: 35px;
}

label {
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

input, textarea {
  padding: 17px 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  background-color: #f5f0ff;
  border: 2px solid #F0FAF1;
  color: black;
  outline: none;
  
}

input::placeholder, textarea::placeholder {
  color: rgb(206, 206, 206);
}

.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.form-txt a {
  color: black;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.btn {
  font-size: 16px;
  color: white;
  border: 0;
  border-radius: 25px;
  background-color: #8B53FF;
  box-shadow: 0 0 20px rgba(109, 93, 255, 0.4);
  cursor: pointer;
}

.btn:hover {
  background-color: #a67bfd;
}

.close-form {
  left: 400px;
}

@media(max-width:991px){
  form {
      padding: 50px 30px;
      width: 100%;
  }
  input {
      padding: 15px;
  }
}




